absl-py==2.1.0
aicsimageio==4.14.0
aiobotocore==2.5.4
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aioitertools==0.12.0
aiosignal==1.3.2
annotated-types==0.7.0
asciitree==0.3.3
async-timeout==5.0.1
attrs==25.1.0
botocore==1.31.17
cellSAM @ git+https://github.com/vanvalenlab/cellSAM.git@3a9dd0d08665c8106b030b49d7f62f0c129db9f3
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
contourpy==1.3.1
cycler==0.12.1
dask==2025.2.0
dask-image==2024.5.3
distributed==2025.2.0
elementpath==4.7.0
exceptiongroup==1.2.2
fasteners==0.19
filelock==3.13.1
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2023.6.0
grpcio==1.70.0
huggingface-hub==0.29.1
idna==3.10
imagecodecs==2024.12.30
imageio==2.37.0
importlib_metadata==8.6.1
iniconfig==2.0.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.8
lazy_loader==0.4
locket==1.0.0
lxml==4.9.4
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.10.0
monai==1.4.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
networkx==3.3
numcodecs==0.13.1
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
ome-types==0.6.0
ome-zarr==0.10.3
opencv-python-headless==4.11.0.86
packaging==24.2
pandas==2.2.3
partd==1.4.2
pillow==11.0.0
PIMS==0.7
pluggy==1.5.0
propcache==0.3.0
protobuf==5.29.3
psutil==7.0.0
pyarrow==19.0.1
pydantic==2.10.6
pydantic-extra-types==2.10.2
pydantic_core==2.27.2
pyparsing==3.2.1
pytest==8.3.4
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
resource-backed-dask-array==0.1.0
s3fs==2023.6.0
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
six==1.17.0
slicerator==1.1.0
sortedcontainers==2.4.0
sympy==1.13.1
tblib==3.0.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
tifffile==2023.2.28
timm==0.4.5
tomli==2.2.1
toolz==1.0.0
torch==2.6.0+cu118
torchaudio==2.6.0+cu118
torchvision==0.21.0+cu118
tornado==6.4.2
tqdm==4.67.1
triton==3.2.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==1.26.20
Werkzeug==3.1.3
wrapt==1.17.2
xarray==2025.1.2
xmlschema==3.4.3
xsdata==24.3.1
yarl==1.18.3
zarr==2.15.0
zict==3.0.0
zipp==3.21.0
